@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200&display=swap');
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Yaldevi', sans-serif;
}

body{
  background-color: #EEE9E9;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #e31e26;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  padding-left: 40px;
  margin-bottom: 0px;
  height: 100px;
}

header .imgAvatar{
  max-width: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header .redesSociais{
  margin-top: -90px;
  }

header .redesSociais img{
  max-height: 20px;
  margin-right: 10px;
}

header .redesSociais img:hover{
  opacity: 50%;
}

.box-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  margin: 30px;
  padding: 0px;
  border-radius: 10px 10px 0px 0px;
  color:DimGray;
  width: 350px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
}

.box:hover {
  filter: opacity(50%);
}

.box h3 {
  padding: 3px;
  color: #e31e26;
  font-weight: 800;
}

.box p {
  padding: 3px;
  font-size: 14px;
  font-weight: 800;
  padding: 10px;
}

.box p a{
  text-decoration: none;
  color: #e31e26;
}

.box img{
  width:100%; 
  border-radius: 10px 10px 0px 0px;
}

.box .cardIcon{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  width: 330px;
  height: 60px;
  margin-left: 10px;
  border-top: 1px solid rgb(202, 199, 199);
}

.box .cardIcon img{
  max-height: 45px;
  max-width: 35px;
}

footer{
  text-align: center;
  color:DimGray;
  font-size: 12px;
  margin-bottom: 20px;
}

@media (max-width:576px){ 
  header{
    justify-content: center; 
  }

  header .redesSociais{
    display: none;
  }
}

